<div class="container">
    <!--update product type-->
    <br><br>
    <app-board [Type]=" type" [P_type]="p_type" [Format]="format" [Mode]="mode"></app-board>
    <!--<div class="row roue">
        <div class="col-md-12 ">
            <h6>Type de produit</h6>
            <div class="card md-2">
                <table class="table table-striped table-responsive">
                   <thead>
                       <tr>
                           <th scope="col-6">#ID</th>
                           <th scope="col-6">Designation</th>
                           <th scope="col-6">Pourcentage de reduction du prix</th>
                        

                           <th scope="col-6">Action</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let item of type">

                           <th scope="row"># {{item.productype_id}}</th>
                           <td>{{item.productype_label}} </td>
                           <td><input type="number" name="name_type" id="price_t" [(ngModel)] ="item.product_type_discount"></td>
                           

                            <td>

                               <a role="button" class="btn btn-warning" style="color: white;" (click)="Update_TypeProd(item)" >Mettre à jour</a>
                            </td>


                       </tr>


                   </tbody>
                </table>
            </div>


            <i class="fa fa-scissors" aria-hidden="true"></i>
            <hr style="border:dashed 2px rgb(228, 167, 167)">
           <h6>Type d'impression</h6>
           <div class="card md-3">
            <table class="table table-striped table-responsive">
               <thead>
                   <tr>
                       <th scope="col-6">#</th>
                       <th scope="col-6">Designation</th>
                       <th scope="col-6">Type de produit</th>
                       <th scope="col-6">Cout de d'impression</th>
                       <th scope="col-6">Cout de la couleur</th>
                       <th scope="col-6">% de reduction du prix</th>
                       <th scope="col-6">Action</th>
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let item of p_type">
                       <th scope="row">#{{item.printing_id}}</th>
                       <td>{{item.printing_type_label}}</td>
                       <td>{{item.productype_label}}</td>
                       <td><input type="number" name="impression_" [(ngModel)] ="item.printing_price" ></td>
                       <td><input type="number" name="color" [(ngModel)] ="item.color_price"></td>
                       <td><input type="number" name="type_pourcetagen" [(ngModel)] ="item.printing_discount" ></td>


                       <td>
                           <a role="button" class="btn btn-warning" style="color: white;" (click)="update_PrintProd(item)" >Mettre à jour</a>
                       </td>


                    </tr>


                </tbody>
            </table>
        </div>

        <i class="fa fa-scissors" aria-hidden="true"></i>
    <hr style="border:dashed 2px rgb(228, 167, 167)">
       <h6>Format de produit</h6>
       <div class="card md-3">
        <table class="table table-striped table-responsive">
           <thead>
               <tr>
                   <th scope="col-6">#</th>
                   <th scope="col-6">Largeur</th>
                   <th scope="col-6">Hauteur</th>
                   <th scope="col-6">Type de produit</th>
                   <th scope="col-6">cout</th>
                   <th scope="col-6">autre format (pour imprimer)</th>
                   <th scope="col-6">Action</th>
               </tr>
           </thead>
           <tbody>
            <tr *ngFor = "let item of format">
                <th scope="row">#{{item.product_format_id}}  </th>
                <td>{{item.product_width}}</td>
                <td>{{item.product_height}}</td>
                <td>{{item.productype_label}}</td>
                <td><input type="number" name="type_pourcetagen" id="price_f" [(ngModel)]="item.product_price_format"></td>
                <td>{{item.other_format}}</td>

                <td>
                    <app-preload *ngIf="spiner"></app-preload>
                    <a role="button"  class="btn btn-danger" style="color: white;" (click)="Update_Format(item)">Mettre à jour</a>
                </td>


            </tr>
           </tbody>
        </table>
    </div>

    <i class="fa fa-scissors" aria-hidden="true"></i>
    <hr style="border:dashed 2px rgb(228, 167, 167)">
   <h6 >Mode</h6>
   <div class="card md-3">
    <table class="table table-striped table-responsive">
       <thead>
           <tr >
               <th scope="col-6">#</th>
               <th scope="col-6">Designation</th>
               <th scope="col-6">Type de produit</th>
               <th scope="col-6">Taille</th>
               <th scope="col-6">Cout</th>

               <th scope="col-6">Action</th>
           </tr>
       </thead>
       <tbody>

        <tr *ngFor = "let item of mode">
            <th scope="row">{{item.product_mode_id}}</th>
            <td>{{item.product_mode_label}}</td>
            <td>{{item.productype_label}}</td>
            <td>{{item.product_sizes}}</td>
            <td><input type="number" name="type_pourcetagen" id="price_m" [(ngModel)]="item.product_mode_price"></td>
            
            <td>
                <app-preload *ngIf="spiner"></app-preload>
                <a role="button" class="btn btn-danger" style="color: white;" (click)=" Update_Mode(item)">Mettre à jour</a>
            </td>


        </tr>
       </tbody>
    </table>
</div>
        </div>

</div>-->

</div>
