
   <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
   <app-header [data]="menu"></app-header>

    <div class="app-main">
           <app-sidebar [menu]="menu"></app-sidebar>
        <div class="app-main__outer">
            <app-create-user *ngIf="create"></app-create-user>
            <app-oders-overview *ngIf="order" [Orders]="Orders"></app-oders-overview>
            <app-list-user [users]="users"  *ngIf ="list_user"></app-list-user>
            <app-default *ngIf="default" [data]="datalgth"></app-default>
            <app-me *ngIf="me"></app-me>
            <app-add-livry *ngIf="add_livry" [data]="adress" ></app-add-livry>
            <app-orders-partner *ngIf="order_partner"></app-orders-partner>
            <app-partner-products *ngIf="partner_prod"></app-partner-products>
            <app-partner *ngIf="partner"></app-partner>
            <app-approuve-partner *ngIf="aprv_partner"></app-approuve-partner>
           <app-add-prod-info *ngIf="addpro" [Categories]="Categories" [Types]="Type"></app-add-prod-info>
           <app-update-prod-info [type]="Type"  [format]="prod_format" [mode]="prod_mode" [p_type]="prod_print" *ngIf="update_pro" ></app-update-prod-info>

        </div>

 </div>
 <app-footer></app-footer>
</div>
