<div class="container">
    <div class="card" id="card">
      <div class="card-body mb-4 h-auto">

       <div class="row">
        <h5 class="font-weight-bold pl-0 my-4"><strong>J'ajoute une categorie de produit</strong></h5>

        <form role="form">
          <!-- First Step -->
         <div class="col-md-3 forme">
            <div class="row setup-content">
                <div class="form-group md-form sm-form mt-3 st-3">
                    <label for="category" data-error="wrong" data-success="right"><b>categorie</b></label>
                    <input id="category" type="text" name="category" disabled required="required" class="form-control validate" [(ngModel)]="categorie" >
                  </div>

                  <div class="form-group md-form mt-3 sm-form st-3">
                    <a class="btn btn-success" (click)="Add_category()">Enregistrer</a>
                  </div>

            </div>
         </div>


        </form>
       </div>

       <i class="fa fa-scissors" aria-hidden="true"></i>
       <hr style="border:dashed 2px rgb(228, 167, 167)">

       <div class="row">
        <h5 class="font-weight-bold pl-0 my-4"><strong>J'ajoute un type de produit</strong></h5>

        <form role="form">
          <!-- First Step -->
          <div class="row setup-content">
            <div class="col-md-6 forme">
              <div class="form-group md-form mt-3">
                <label for="category_type" data-error="wrong" data-success="right"><b>Catégorie</b></label>
                <select id="category_type" required="required" class="form-control validate" name="category_type" (change)="Onchange($event)" >
                  <option value="choice">categorie de produit</option>
                  <option *ngFor="let item of Categories" [value]="item.category_id">{{item.category_label}}</option>

                </select>

              </div>



            </div>
            <div class="col-md-6 forme">
              <div class="form-group md-form mt-3">
                <label for="type_label" data-error="wrong" data-success="right"><b>Designation type</b></label>
                <select id="type" required="required" class="form-control validate" name="category_type" (change)="Get_Type($event)">
                  <option value="choice" >type</option>
                  <option *ngFor="let item of this.Ar_type" [value]="item.productype_id + tokenO + item.productype_label">{{item.productype_label}}</option>

                </select>              
              </div>
            </div>

            <div class="form-group md-form mt-3 sm-form st-3">
              <a class="btn btn-success" (click)="add_type()">Enregistrer</a>
            </div>





          </div>



        </form>

      </div>

       <i class="fa fa-scissors" aria-hidden="true"></i>
       <hr style="border:dashed 2px rgb(228, 167, 167)">
         <div class="row">
            <h5 class="font-weight-bold pl-0 my-4"><strong>J'ajoute un type d'impression</strong></h5>

            <form role="form">
                <div class="row setup-content">
                  <div class="col-md-6 forme">
                    <div class="form-group md-form mt-3">
                      <label for="type_print" data-error="wrong" data-success="right"><b>Type</b></label>
                      <select id="type_print" required="required" class="form-control validate" name="type_print" (change)="TypeProd_printing($event)">
                        <option value="choice">type de produit </option>
                        <option *ngFor="let item of print_table" [value]="item.productype_id">{{item.productype_label}}</option>
                      </select>

                    </div>

                    <div class="form-group md-form mt-3">
                      <label for="type_print_label" data-error="wrong" data-success="right"><b>Designation type impression</b></label>
                      <input id="type_print_label" type="text" name="type_print_label" required="required" placeholder="broderie" class="form-control validate" [(ngModel)]="printing_label">
                    </div>

                  </div>
                  <div class="col-md-6 forme">

                    <div class="form-group md-form mt-3">
                      <label for="type_print_price" data-error="wrong" data-success="right"><b>cout d'impression</b></label>
                      <input id="type_print_price" type="text" name="type_print_price" required="required" placeholder="25.258" class="form-control validate" [(ngModel)]="price">
                    </div>

                    <div class="form-group md-form mt-3">
                        <label for="type_print_color_price" data-error="wrong" data-success="right"><b>cout du nombre de couleur</b></label>
                        <input id="type_print_color_price" type="text" name="type_print_color_price" required="required" placeholder="25.258" class="form-control validate" [(ngModel)]="color_price">
                      </div>

                  </div>
                  <div class="form-group md-form mt-3 sm-form st-3">
                      <a class="btn btn-success" (click)="ad_printing_type()">Enregistrer</a>
                    </div>





              </div>



              </form>
         </div>
         <i class="fa fa-scissors" aria-hidden="true"></i>

         <hr style="border:dashed 2px rgb(228, 167, 167)">
         <div class="row">
            <h5 class="font-weight-bold pl-0 my-4"><strong>J'ajoute un type format (pour les emballages et imprimer)</strong></h5>

            <form role="form">
                <div class="row setup-content">
                  <div class="col-md-6 forme">
                    <div class="form-group md-form mt-3">
                      <label for="type_print" data-error="wrong" data-success="right"><b>Type</b></label>
                      <select id="type_print" required="required" class="form-control validate" name="type_print" (change)="TypeProd_format($event)">
                        <option value="choice">type de produit </option>
                        <option *ngFor="let ite of sdm" [value]="ite.productype_id">{{ite.productype_label}}</option>

                      </select>

                    </div>

                    <div class="form-group md-form mt-3" *ngIf="width">
                      <label for="type_width_label" data-error="wrong" data-success="right"><b>Largeur</b></label>
                      <input id="type_width_label" type="number" name="type_width_label" required="required" placeholder="broderie" class="form-control validate" [(ngModel)]="format_width">
                    </div>

                  </div>
                  <div class="col-md-6 forme">
                    <div class="form-group md-form mt-3" *ngIf="format_cost">
                      <label for="type_format_price" data-error="wrong" data-success="right"><b>cout du format</b></label>
                      <input id="type_format_price" type="number" name="type_print_price" required="required" placeholder="25.258" class="form-control validate" [(ngModel)]="format_price">
                    </div>

                    <div class="form-group md-form mt-3" *ngIf="heigth">
                        <label for="type_auhteur_color_price" data-error="wrong" data-success="right"><b>Hauteur</b></label>
                        <input id="type_autheur_color_price" type="number" name="type_format_autheur" required="required" placeholder="25.258" class="form-control validate" [(ngModel)]="format_height">
                      </div>

                  </div>

                  <div class="col-md-6 forme">

                    <div class="form-group md-form mt-3" *ngIf="other">
                        <label for="other_format" data-error="wrong" data-success="right"><b>autres</b></label>
                        <input id="other_format" type="text" name="other_format" required="required" placeholder="25.258" class="form-control validate" [(ngModel)]="format_other">
                      </div>

                  </div>


                  <div class="form-group md-form mt-3 sm-form st-3">
                      <a class="btn btn-success " (click)="ad_format()">Enregistrer</a>
                    </div>



              </div>



              </form>
         </div>
         <i class="fa fa-scissors" aria-hidden="true"></i>

         <hr style="border:dashed 2px rgb(228, 167, 167)">
         <div class="row">
            <h5 class="font-weight-bold pl-0 my-4"><strong>J'ajoute un mode de produit (uniquement pour les vetements)</strong></h5>

            <form role="form">
                <div class="row setup-content">
                  <div class="col-md-6 forme">
                    <div class="form-group md-form mt-3">
                      <label for="type_mode" data-error="wrong" data-success="right"><b>Type</b></label>
                      <select id="type_print" required="required" class="form-control validate" name="type_print" (change)="onchange2($event)">
                        <option value="choice">type de produit </option>
                        <option *ngFor="let item of koba" [value]="item.productype_id">{{item.productype_label}}</option>

                      </select>

                    </div>

                    <div class="form-group md-form mt-3">
                      <label for="type_mode_label" data-error="wrong" data-success="right"><b>Designation mode </b></label>
                      <select id="type_print" required="required" class="form-control validate" name="type_print" (change)="onchange3($event)">
                        <option value="choice">Choisissez le genre </option>
                        <option *ngFor="let item of Gender" >{{item}}</option>
  
                      </select>                    
                    </div>

                  </div>
                  <div class="col-md-6 forme">
                    <label for="mode_size_price" data-error="wrong" data-success="right"><b>Taille</b></label>
                    <select id="type_print" required="required" class="form-control validate" name="type_print" (change)="onchange4($event)">
                      <option value="choice">Choisissez la taille </option>
                      <option *ngFor="let item of size" >{{item}}</option>

                    </select>

                    <div class="form-group md-form mt-3">
                        <label for="mode_cost" data-error="wrong" data-success="right"><b>Cout</b></label>
                        <input id="mode_cost" type="number" name="mode_cost" required="required" placeholder="25.258" class="form-control validate" [(ngModel)]="mode_price">
                    </div>

                  </div>



                  <div class="form-group md-form mt-3 sm-form st-3">
                      <a class="btn btn-success" (click)="add_mode()">Enregistrer</a>
                    </div>



              </div>



              </form>
         </div>

      </div>
  </div>

</div>
