.table{
    width: 100%;
    text-align: center;
}
.th{
    padding: 0;
}
/*.row{
    width: 90%;
    margin-left: -242px;
    
}*/
img{
    transition: transform 2s;
    cursor: pointer;
}
img:hover{
    transform: scale(3.5);
}
.card{
    margin-left: 38px;
    width: 100%;
}
.col-md-12{
       
    margin-left: 26%;
}
a .btn{
    color: white;
    font-weight: bold;
}
.rose{
    margin-left: 0;
    margin-top: 6rem;
}

/*.roue{
    margin-top: 14px;
}*/

.form-control{
    border: solid 1px #ccc;
}

/*.input-group{
    position: relative;
    left: 59rem;
    width: 38%;
}*/