<div class="col-md-12 " *ngIf = "order">
    <div class="card md-3">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th scope="col-6">#</th>
                    <th scope="col-6">Images</th>
                    <th scope="col-6">Informations</th>
                    <th scope="col-6">Quantité</th>
                    <th scope="col-6">Montant</th>
                    <th scope="col-6">Nom client</th>
                    <th scope="col-6">Date</th>
                    <th scope="col-6">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let item  of orders">
                    <th scope="row" >{{item.userorder_id}}</th>
                    <td><img src="{{item.url_dir[0]}}"  width="100"></td>
                    <td>

                        <div class="card" style="width: 10rem;">
                            <div class="card-header">
                                Description
                            </div>
                            <ul class="list-group list-group-flush" *ngIf="item.id_mode!=null" style="height: 100px;overflow:scroll">
                                <li class="list-group-item" ><strong>{{item.design_title}} </strong> </li>
                                <li class="list-group-item" >Impression:<strong> {{item.printing_type_label}}</strong> </li>
                                <li class="list-group-item"> Taille: {{item.product_sizes}}  <strong>Qty: {{item.shopping_qty}} </strong> </li>

                            </ul>


                            <ul class="list-group list-group-flush" *ngIf="item.category_label=='emballages'">
                                <li class="li-group-item">
                                    <strong>{{item.design_title}}</strong>
                                </li>
                                <li class="list-group-item">Taille: {{item.product_width}}/{{item.product_height}}</li>
                            </ul>

                            <ul class="list-group list-group-flush" *ngIf="item.category_label=='gadgets'">

                                <li class="li-group-item">
                                    <strong>{{item.design_title}}</strong>
                                </li>
                                <li class="list-group-item" >impression: {{item.printing_type_label}}</li>
                            </ul>
                        </div>
                    </td>

                    <td>{{item.shopping_qty}}</td>
                    <td  class="text-right" *ngIf="item.category_label=='vetements'"> <strong>{{(item.product_mode_price+item.printing_price)*item.shopping_qty}} fcfa </strong></td>
                    <td  class="text-right" *ngIf="item.category_label=='emballages'"  > <strong>{{item.product_price_format}}  fcfa</strong></td>


                    <td  class="text-right" *ngIf="item.category_label=='gadgets'"> <strong *ngIf="item.productype_label=='stylot'">{{item.printing_price*item.shopping_qty}}  fcfa</strong>
                        <strong *ngIf="item.productype_label=='tasse'">{{item.type_price*item.shopping_qty}}  fcfa</strong>

                    </td>
                    <td>{{item.user_first_name}}  {{item.user_last_name}}</td>
                    <td>{{item.userorder_created_at}}</td>
                    <td>
                        <a role="button" class="btn btn-danger" style="color: white;" *ngIf="item.userorder_status=='new'" >New</a>
                        <a role="button" class="btn btn-warning" style="color: white;" *ngIf="item.userorder_status=='pending at production'">en cours</a>
                        <a role="button" class="btn btn-secondary" style="color: white;" *ngIf="item.userorder_status=='production ended'">in packatages</a>
                        <a type="button" class="btn btn-default" style="background: cyan; color: white;" *ngIf="item.userorder_status=='pending delivery'">en livraison</a>
                        <a role="button" class="btn btn-success" style="color: white;" *ngIf="item.userorder_status=='Delivered'">livrée</a>
                    </td>


                </tr>
            </tbody>
        </table>
                
    </div>
</div>

<div class="card-body" *ngIf="delivery">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">VILLE</th>
          <th scope="col">PRICE</th>
          <th scope="col">ACTION</th>
        </tr>
       </thead>
       <tbody>
            <tr *ngFor="let item of Data">
                <th scope="row">{{item.aladin_dlivery_adress_id}}</th>
                <td> {{item.delivery_city}}</td>
                <td><input type="number" name="price" id="price" [(ngModel)]="item.delivery_cost"></td>
                <td>
                    

                    <button class="btn btn-warning"  >Changer</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="row roue" *ngIf="update">
        <div class="col-md-12 ">
            <h6>Type de produit</h6>
            <div class="card md-2">
                <table class="table table-striped table-responsive">
                   <thead>
                       <tr>
                           <th scope="col-6">#ID</th>
                           <th scope="col-6">Designation</th>
                           <th scope="col-6">Pourcentage de reduction du prix</th>
                        

                           <th scope="col-6">Action</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let item of Type">

                           <th scope="row"># {{item.productype_id}}</th>
                           <td>{{item.productype_label}} </td>
                           <td><input type="number" name="name_type" id="price_t" [(ngModel)] ="item.product_type_discount"></td>
                           

                            <td>

                               <a role="button" class="btn btn-warning" style="color: white;"  >Mettre à jour</a>
                            </td>


                       </tr>


                   </tbody>
                </table>
            </div>


            <i class="fa fa-scissors" aria-hidden="true"></i>
            <hr style="border:dashed 2px rgb(228, 167, 167)">
           <h6>Type d'impression</h6>
           <div class="card md-3">
            <table class="table table-striped table-responsive">
               <thead>
                   <tr>
                       <th scope="col-6">#</th>
                       <th scope="col-6">Designation</th>
                       <th scope="col-6">Type de produit</th>
                       <th scope="col-6">Cout de d'impression</th>
                       <th scope="col-6">Cout de la couleur</th>
                       <th scope="col-6">% de reduction du prix</th>
                       <th scope="col-6">Action</th>
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let item of P_type">
                       <th scope="row">#{{item.printing_id}}</th>
                       <td>{{item.printing_type_label}}</td>
                       <td>{{item.productype_label}}</td>
                       <td><input type="number" name="impression_" [(ngModel)] ="item.printing_price" ></td>
                       <td><input type="number" name="color" [(ngModel)] ="item.color_price"></td>
                       <td><input type="number" name="type_pourcetagen" [(ngModel)] ="item.printing_discount" ></td>


                       <td>
                           <a role="button" class="btn btn-warning" style="color: white;"  >Mettre à jour</a>
                       </td>


                    </tr>


                </tbody>
            </table>
        </div>

        <i class="fa fa-scissors" aria-hidden="true"></i>
    <hr style="border:dashed 2px rgb(228, 167, 167)">
       <h6>Format de produit</h6>
       <div class="card md-3">
        <table class="table table-striped table-responsive">
           <thead>
               <tr>
                   <th scope="col-6">#</th>
                   <th scope="col-6">Largeur</th>
                   <th scope="col-6">Hauteur</th>
                   <th scope="col-6">Type de produit</th>
                   <th scope="col-6">cout</th>
                   <th scope="col-6">autre format (pour imprimer)</th>
                   <th scope="col-6">Action</th>
               </tr>
           </thead>
           <tbody>
            <tr *ngFor = "let item of Format">
                <th scope="row">#{{item.product_format_id}}  </th>
                <td>{{item.product_width}}</td>
                <td>{{item.product_height}}</td>
                <td>{{item.productype_label}}</td>
                <td><input type="number" name="type_pourcetagen" id="price_f" [(ngModel)]="item.product_price_format"></td>
                <td>{{item.other_format}}</td>

                <td>
                    <app-preload *ngIf="spiner"></app-preload>
                    <a role="button"  class="btn btn-danger" style="color: white;" >Mettre à jour</a>
                </td>


            </tr>
           </tbody>
        </table>
    </div>

    <i class="fa fa-scissors" aria-hidden="true"></i>
    <hr style="border:dashed 2px rgb(228, 167, 167)">
   <h6 >Mode</h6>
   <div class="card md-3">
    <table class="table table-striped table-responsive">
       <thead>
           <tr >
               <th scope="col-6">#</th>
               <th scope="col-6">Designation</th>
               <th scope="col-6">Type de produit</th>
               <th scope="col-6">Taille</th>
               <th scope="col-6">Cout</th>

               <th scope="col-6">Action</th>
           </tr>
       </thead>
       <tbody>

        <tr *ngFor = "let item of Mode">
            <th scope="row">{{item.product_mode_id}}</th>
            <td>{{item.product_mode_label}}</td>
            <td>{{item.productype_label}}</td>
            <td>{{item.product_sizes}}</td>
            <td><input type="number" name="type_pourcetagen" id="price_m" [(ngModel)]="item.product_mode_price"></td>
            
            <td>
                <app-preload *ngIf="spiner"></app-preload>
                <a role="button" class="btn btn-danger" style="color: white;" >Mettre à jour</a>
            </td>


        </tr>
       </tbody>
    </table>
</div>
        </div>

</div>